{% extends "main.html" %}

{% block title %}Удаление урока - Профиль пользователя{% endblock %}

{% block content %}
    <h2>Удаление урока</h2>
    <div class="container-fluid mt-3">
        <div class="row">
            {% if lesson.image %}
                <div class="col-md-auto">
                    <img src="{{ lesson.image.url }}" class="main-image">
                </div>
            {% endif %}
            <div class="col">
                <h2>{{ lesson.title }}</h2>
                <p>{{ lesson.content }}</p>
                <p>{{ lesson.contacts }}</p>
                <p class="text-right font-italic">Объявление
                    добавлено {{ lesson.created_at }}</p>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить">
    </form>
{% endblock %}